/* General Styles */
html,
body {
   margin:0;
   padding:0;
   height:100%;
   font-size: 12px;
}
#wrapper {
   min-height:100%;
   position:relative;
}

/* Main navigation */
header#navWrapper {
    background: url(images/NavigationShadowBottom.png) repeat-x 50% 100% #f2f2f2;
    background-size: 2200px 20px;
    width: 100%;
    height: 70px;
    display: block;
    text-align: center;
}

header#navWrapper a {
	color: #626262;
	margin: 15px 15px 0 0;
	display: inline-block;
	font-size: 10px;
}

header#navWrapper a:hover {
	text-decoration: none;
	color: #e06060;
}

header#navWrapper a:hover > i {
	color: #e06060;
}

header#navWrapper a.selected {
	color: #c15d5d;
}
header#navWrapper a.selected > i {
	color: #c15d5d;
}

header#navWrapper a i {
	display: block;
	font-size: 22px;
	margin-bottom: 5px;
}

/* Recipe List */
main {
	padding: 50px 0 40px 0 !important;
	min-height: 500px;
}
#recipeList article {
	padding: 5px 10px;
}
#recipeList article > div {
	min-height: 360px;
	border: 1px solid #ccc;
}
#recipeList article > div .caption {
	padding: 5px 10px;
	color: #000;
}
#recipeList article > div .caption h3 {
	min-height: 55px;
}
#recipeList article > div .image img {
	width: 100%;
	height: 190px;
}

/* Recipe */
#recipe .description h3 {
	margin-top: 0;
	color: #449d44;
}
#recipe .recipeNavigation {
	margin-bottom: 20px;
}
#recipe img {
	width: 100%;
}
.ingredientesList h3 {
	color: #449d44;
	margin-top: 0;
}
.ingredientesList ul {
	padding: 0 15px;
}
.addToCart {
	margin-top: 20px;
}

/* Shopping List Show Page */
#shoppingListShow table tbody tr {
	border-bottom: 1px dashed #c6c6c6;
}
#shoppingListShow table thead tr {
	background: #5cb85c;
	border: 1px solid #4cae4c;
	color: #fff;
}
#shoppingListShow table tbody tr:last-child {
	border-bottom: none;
}
#shoppingListShow table th {
	padding: 5px;
}
#shoppingListShow table td {
	padding: 5px;
}
#shoppingListShow table tbody tr td {
	border-right: 1px dashed #c6c6c6;
}
#shoppingListShow table tbody tr td:last-child {
	border: none;
}
.listCheckbox {
    width: 13px;
    height: 13px;
    border: 1px solid #3a3a3a;
    margin: 0 auto;
}
#shoppingListShow .buttons {
	margin-top: 20px;
}
#shoppingListShow .buttons a {
	margin-right: 10px;
}

/* ShoppingList List */
#shoppingListList table tbody tr td {
	line-height: 100px;
}
#shoppingListList table tbody tr td:last-child i {
	font-size: 18px;
}

/* Footer */
footer {
   	position: absolute;
   	bottom: 10px;
   	width: 100%;
   	text-align: center;
   	color: #a4abb1;
}
